@import url("./__item-image/comments__item-image.css");
@import url("./__item-quote/comments__item-quote.css");
@import url("./__quote-author/comments__quote-author.css");
.comments__item {
    width: 32.2%;
    display: flex;
    flex-direction: column;
}

@media all and (max-width: 768px) {
    .comments__item {
        width: 50%;
        margin-top: 1rem;
        align-items: center;
    }
}
@media all and (max-width: 625px) {
    .comments__item {
        width: 75%;
    }
}
@media all and (max-width: 425px) {
    .comments__item {
        width: 100%;
    }
}