@import url("./__content-title/video__content-title.css");
@import url("./__content-subtitle/video__content-subtitle.css");
@import url("./__container/video__container.css");
.video {
    width: 1184px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media all and (max-width: 1220px) {
    .video {
        width: 93%;
    }
}