@import url("./header/header.css");
@import url("./content/content.css");
@import url("./font-face/inter.css");
@import url("./footer/footer.css");
@import url("./url/url.css");
@import url("./link/link.css");
.block {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}
@media all and (max-width: 1440px) {
    .block {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Inter';
    }
}